* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe MDL2 Assets"
}
html {
    margin: 0;
}
a {
    text-decoration: none;
    color: #333;
}
.clr {
    clear: both;
}


#navbar {
    background-color: #333;
    color: white;
    overflow: auto;
    height: 60px;

}
.container {
    max-width: 1100px;
    margin:auto;
    overflow: hidden;
}
#navbar h2 {
    float: left;
    font-weight: bolder;
    padding-top: 15px;
}
#navbar a {
    color: white;
   padding:25px;
    margin: 0;

}
#navbar ul {
    float: right;
    padding-top: 20px;
    height: 60px;
    overflow: hidden;
}
#navbar a:hover {
    color: #f7c08a;
    background-color: #444;
}
#navbar .current {
    color: #f7c08a;
    background-color: #444444;
}
.showCase {
    background: url("./img/showcase.jpg") no-repeat
center center/cover ;
    height: 600px;
    color: white;
    text-align: center;
    padding-top: 170px;
}
.showCase span {
    color: #f7c08a;
}
.showCase h1 {
    font-size: 60px;
    padding-bottom: 20px;
}
.showCase p {
    line-height: 1.7em;
    padding-bottom: 30px;
    font-size: 22px;
}
.showCase a {
    background: #333;
    color: white;
    padding: 15px 20px 20px 20px;
    font-size: 20px;
    text-align: center;
}
.showCase a:hover {
    background-color: #f7c08a;
    color: #333333;
    cursor: pointer;
}
.hotelInfo {
    height: 400px;
}
.hotelBg {
    background: url("./img/photo-1.jpg") no-repeat
;
    float: left;
    width: 50%;
    height: 100%;
}
.Info {
    text-align: center;
    background: #333333;
    color: white;
    float: right;
    width: 50%;
    height: 100%;
    padding: 60px 20px;
}
.Info span{
    color: #f7c08a;
    padding-right: 10px;
}
.Info h1 {
    font-size:30px;
    line-height: 2em;
    padding-bottom: 20px;
}
.Info p {
    font-size: 20px;
    line-height: 1.5em;
    padding-bottom: 40px;
}
.Info a {
    padding: 15px 20px 20px 20px;
    cursor: pointer;
    background-color: #F4F4F4;
    color: #333;
    font-size: 20px;
}
.Info a:hover {
    background-color: #f7c08a;
    color: #333333;
}
.tripleFloat {
    text-align: center;
    width: 100%;
    overflow: auto;

}
.tripleFloat div {
    float: left;
    text-align: center;
    width: max-content;
    padding: 40px;
    width: 33.33%;
}
.tripleFloat div:nth-child(2) {
    background-color: #f7c08a;
    color: #333333;
}
.tripleFloat h3 {
    font-size: 25px;
    padding-bottom: 20px;
}
.tripleFloat p {
    padding-bottom: 20px;
    font-size: 20px;
}
.tripleFloat i {
    padding-bottom: 25px;
}
.footer {
    padding: 30px;
    background-color: #444;
    color: white;
    text-align: center;
    font-size: 17px;
}
#about {
    align-items: center;
    margin: auto;
    overflow: auto;
    background-color: #f4f4f4;
}

.sectionOne {
    margin: auto;
    overflow: auto;
    align-items: center;
    width: 1300px;
    padding-left: 50px;
    background-color: #f4f4f4;
    color: #333333;
}
.sectionOne div {
    float: left;
    padding: 25px 30px;
    width: 50%;

}
.sectionOne img {
    border-radius: 50%;
    float: left;
    width: 360px;
    margin: 40px;
}
.sectionOne h1 {
    font-size: 50px;
    padding-bottom: 35px;
}
.sectionOne span {
    color: #f7c08a;
}
.sectionOne p {
    font-size: 20px;
    line-height: 1.5em;
}
.testimonial {
    background: url("./img/test-bg.jpg") no-repeat center center/cover;
    height: 700px;
    text-align: center;
    padding-top: 50px;
}
.testimonial div {
    background-color: #f7c08a;
    width: 70%;
    margin: 50px 15%;
    padding: 20px;
    height: 150px;
    opacity: 0.9;
}
.testimonial img {
    border-radius: 50%;
    width: 100px;
    float: left;
    height: 100%;

}
.testimonial p {
    font-size: 20px;
    padding: 15px;
    color: #333333;

}
.testimonial h1 {
    color: #f4f4f4;
    padding: 30px;
    font-size: 45px;
}
.contact {
    width: 70%;
    margin: 30px 15%;

}
.contact h1 {
    padding-bottom: 25px;
}
.contact p {
    padding-bottom: 25px;
}
.contact span {
    color: #f7c08a;
}
.contact input {
    padding:10px;
    width: 100%;
    margin: 15px 0;
}
.contact textarea {
    width: 100%;

}
.contact button {
    background-color: #333333;
    color: #f4f4f4;
    padding: 15px 20px;
    border: none;
    font-size: 20px;
    margin-top: 25px;
}
.contact button:hover {
    background-color: #f7c08a;
    color: #333333;
}

.contactInfos h2 {
    color: #f4f4f4;
    padding:15px ;
}
.contactInfos  {
    width: 33.33%;
    float: left;
    background-color: #333333;
    text-align: center;
    padding:40px 0;
}
.contactInfos p {
    padding: 15px;
    font-size: 20px;
    color: #f4f4f4;
}
.contactInfos i {
    color: #f4f4f4;
    margin-top: 10px;
}